<header class="h-20 flex justify-between items-center px-12">
  <a class="w-36 h-auto" routerLink="/welcome">
    <img class="w-full h-auto" src="/netflix.png" alt="" />
  </a>
  <div class="account-buttons flex gap-x-2">
    <a
      class="account-button create px-4 py-2 rounded-md text-white font-bold cursor-pointer"
      routerLink="/register"
      >Crear Cuenta</a
    >
    <a
      class="account-button login px-4 py-2 rounded-md text-white font-bold cursor-pointer"
      routerLink="/login"
      >Iniciar Sesión</a
    >
  </div>
</header>
