<div class="register-container w-screen h-screen overflow-hidden">
  <app-header-welcome />
  @if (alertInfo().showAlert) {
  <app-alert
    (changeShowAlert)="alertInfo().showAlert = $event"
    [title]="alertInfo().title"
    [description]="alertInfo().description"
    [type]="alertInfo().type"
    [controled]="alertInfo().controled"
    [cancelBtn]="alertInfo().cancelBtn"
    [acceptBtn]="alertInfo().confirmBtn"
    [delay]="alertInfo().delay"
    [y]="alertInfo().y"
    [x]="alertInfo().x"
  />
  }
  <main class="w-screen h-screen flex flex-col items-center pt-20">
    <form
      (submit)="registerUser()"
      class="register-form relative bg-black bg-opacity-70 rounded-lg backdrop-blur-sm shadow-xl shadow-black px-20 py-28 flex flex-col gap-4 justify-center items-center [&>input]:text-white [&>input]:bg-black [&>input]:bg-opacity-70 [&>input]:py-2 [&>input]:px-2 [&>input]:font-bold [&>input]:tracking-wide [&>input]:outline-none [&>input]:rounded-md"
      action=""
    >
      <h2 class="text-white absolute top-10 text-3xl font-bold">
        Crea una cuenta
      </h2>
      <input
        required
        [(ngModel)]="userToCreate().Email"
        autocomplete="off"
        (click)="inputClicked('email')"
        id="Email"
        name="Email"
        type="email"
        placeholder="Email"
        [style]="{
          border: showError().Email
            ? '1px solid #ff0000b0'
            : '1px solid rgb(0 54 68)'
        }"
      />
      @if (showError().Email) {
      <span class="text-white w-full">{{ showError().Message }}</span>
      }
      <input
        required
        [(ngModel)]="userToCreate().Password"
        autocomplete="off"
        (click)="inputClicked('pass')"
        id="Password"
        name="Password"
        type="password"
        placeholder="Password"
        [style]="{
          border: showError().Password
            ? '1px solid #ff0000b0'
            : '1px solid rgb(0 54 68)'
        }"
      />
      @if (showError().Password) {
      <span class="text-white w-full">{{ showError().Message }}</span>
      }
      <input
        required
        [(ngModel)]="userToCreate().conf"
        autocomplete="off"
        (click)="inputClicked('conf')"
        id="ConfirmPassword"
        name="ConfirmPassword"
        type="password"
        placeholder="Confirm Password"
        [style]="{
          border: showError().Password
            ? '1px solid #ff0000b0'
            : '1px solid rgb(0 54 68)'
        }"
      />
      <div class="flex w-full flex-col gap-4 mt-10 [&>button]:w-full">
        <button
          type="submit"
          class="create-button bg-white p-2 rounded-md text-black font-bold"
        >
          Crear Cuenta
        </button>
        <a
          routerLink="/login"
          class="login-button bg-[#0891b2] p-2 rounded-md text-white font-bold text-center"
        >
          Inicar Sesión
        </a>
      </div>
    </form>
  </main>
</div>
